<div class="column-container">
  <div class="content">
    <ul class="events_list">
      <%@coupons.each_with_index do |coupon,index| %>
        <%= render partial: "coupons/index", :locals => {:coupon => coupon, :index => index} %>
    <% end %>
    </ul>
    <%= render partial: "products/more_load" %>
  </div>
  <%= render partial: "products/aside" %>
</div>

