.go_top{
  position:fixed;
  top: 0px;
}

div.column-container{
  div.aside{
    float:right;
    position: relative;
    width: 40%;
    background: #ffffff;
    h4{
      height: 20px;
      padding: 14px 10px 6px 10px;
      border: 1px solid #dddde1;
      border-bottom: none;
      margin-bottom: 0;
      margin-top: 0;
      background-color: #f9f9f9;
      color: #fa2020;
      text-align: center;
    }

    ul{
      li{
        font-size: 14px;
        margin:0;
      }
    }

    .events{
      border: 1px solid #b3b3b3;
      margin: 0;
      padding: 0;
      list-style: none;
      border: 1px solid #dddde1;
      background-color: #f9f9f9;

      li{
        border-bottom: 1px solid #dddde1;

        .rank{
          color: #fa2020;
          font-size: 16px;
        }
      }

      li:nth-child(even){
        padding:10px;
        background-image: url('ranking_bg1.png');
        background-repeat: repeat-x;
      }

      li:nth-child(odd){
        padding:10px;
        background-image: url('ranking_bg2.png');
      }
    }
  }
}
@media screen and (max-width: 480px){
  div.column-container div.aside{
    clear:both;
    float:left;
    left:auto;
    width: 99%;
  }
}
@media screen and (max-width 1024px){
  div.column-container div.aside{
    left: 370px;
  }
}
