$small : 480px;
#contents{
  #category{
    margin: 0 0 20px 0;
    overflow:hidden;
    border: 1px solid #dddde1;
    background-color:#f9f9f9;
    h4{
      padding: 15px;
      border-bottom: 1px solid #dddde1;
    }

    .category-inner{
      padding:0 0 0 15px;
      ul{
        margin:0 0 0 15px;
        li{
          list-style:none;
          float:left;
          font-weight:bold;
          font-size:12px;
          margin: 0 5px 10px 0;
          a{
            span{
              border: 1px solid #535353;
              box-shadow: 0 1px 3px #838383;
              color:#fff;
              background-color:#454d5f;
              display:block;
              padding:5px;
            }
          }
        }
      }
    }
  }

  .column-container{
    section#category-products{
      span.main-title{
        display:block;
        border: 1px solid #535353;
        margin:0 0 30px 0;
        color:#fff;
        background-color: #454d5f;
        h4{
          padding:5px;
        }
      }

      div.products{
        float:left;
        width:58%;
        margin-right:-350px;
        margin-top:-14px;
        line-height:10px;
        @media screen and (max-width: $small) {
          width:100%;
        }
        ul{
          margin:0;
          li{
            list-style:none;
            margin-bottom:20px;
            background-color:#ffffff;
            @media screen and (max-width: $small) {
              width:100%;
            }
            img{
              width:90%;
              display:block;
              margin:15px auto;
              @media screen and (max-width: $small) {
                display:block;
              }
            }
            span{
              display:block;
              padding:15px;
              &.title{
                color:#fa2020;
                border-bottom:1px solid #dddde1;
              }
              &.gift{
              }
            }
          }
        }
      }
    }
  }
}
