body{
  //padding-top: 60px;
  font-family: "맑은고딕", "Malgun Gothic", "나눔고딕","NanumGothic","NanumGothicOTF", "돋움", "dotum", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("background_bg.png");
}

.btn{
  text-shadow: none;
}


.index_home{
  a { 
    text-decoration:none;
    color:#333333;
  }

}

#nbpmobilead_div{
  height:50px;
}

.navbar .navbar-fixed-top{
  margin-bottom: 0;
}

.navbar-fixed-top{
  //position: fixed;
  position: relative;
}

.navbar .pull-right{
  float: right;
  margin-top: 52px;
}

.navbar .navbar-inner{
  background-color: #fa7070;
  background-image: none;
  //height: 80px;
}

.container{
  position: relative;
  top: -20px;
}
.navbar-inner .container .brand{
  text-shadow: none;
  color: #ffffff;
  font-weight: bold;
  margin:0 auto;
  display:block;
  margin-left: 29%;
  margin-top: 20px;
}

.navbar-inner .container .nav-collapse ul li a{
  text-shadow: none;
  color: #ffffff;
  font-weight: bold;
}

#contents .column-container{
  margin-top:20px;
}

.footer{
  clear:both;
  border-top: 1px solid #dddde1;
  margin: 30px 0 0 0;
  line-height: 16px;
  font-size: 11px;
  bottom: 0;
}

.footer .logo{
  color: #616161;
  display: block;
  position: relative;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.footer .container{
  top: 0;
}

.navbar .btn, .navbar .btn-group{
  margin-top: 55px;
}


@media screen and (max-width: 480px){
  body{
    padding:0;
  }
  .navbar-fixed-top{
    margin:0 auto;
  }

  .navbar .container{
    width: auto;
    padding: 0;
  }
  .navbar .btn, .navbar .btn-group{
    margin-top: 55px;
  }

  .navbar-inner .container .brand{
    margin-left: 2%;
  }
}
