body {
  font-family: "맑은고딕", "Malgun Gothic", "나눔고딕","NanumGothic","NanumGothicOTF", "돋움", "dotum", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //background-image: url("background_bg.png");
  background-color:#deeef6;
}

.btn {
  text-shadow: none;
}

.index_home a {
  text-decoration: none;
  color: #333333;
}

#nbpmobilead_div {
  height: 50px;
  margin-bottom:20px;
}

.navbar .navbar-fixed-top {
  margin-bottom: 0;
}

.navbar-fixed-top {
  position: relative;
  top:-20px;
}

.navbar {
  .pull-right {
    float: right;
    margin-top: 15px;
    li{
      list-style:none;
      padding:10px 35px 10px 0;
      float:left;
      a{
        font-weight:bold;
        color: #ffffff;
      }
    }
    #sign-in{
      a img{
        width:50%;
        height:40px;
      }
    }

    #sign-out{
    }
  }
  .navbar-inner {
    background-color: #99d4f1;
    background-image: none;
  }
}

.container {
  position: relative;
}

.navbar-inner .container {
  .brand {
    text-shadow: none;
    color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-left: 33%;
    margin-top:10px;
    img{
      display:block;
      margin-right:10px;
      float:left;
    }
    h2{
      float:right;
    }
  }
  .nav-collapse ul li a {
    text-shadow: none;
    color: #ffffff;
    font-weight: bold;
  }

  .nav{
    float:none;
  }
}

.navbar {
  .btn, .btn-group {
    margin-top: 55px;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 0;
  }
  .navbar-fixed-top {
    margin: 0 auto;
  }
  .navbar {
    .container {
      width: auto;
      padding: 0;
      .nav{
        float:left;
      }
    }
    .btn, .btn-group {
      margin-top: 55px;
    }
    a.btn.btn-navbar{
      margin-top:35px;
    }
  }

  .navbar-inner .container .brand {
    margin-left: 2%;
    h2{
      font-size:26.5px;
    }
  }
}
