body {
  font-family: "맑은고딕", "Malgun Gothic", "나눔고딕","NanumGothic","NanumGothicOTF", "돋움", "dotum", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#deeef6;
}

.btn {
  text-shadow: none;
}

.index_home a {
  text-decoration: none;
  color: #333333;
}

#nbpmobilead_div {
  height: 50px;
  margin-bottom:20px;
}

.container {
  position: relative;
}
