.content .popular_events_list{
  display: inline-block;
  width: 100%;
}

.content .popular_events_list ul{
  list-style: none;
}

.content .popular_events_list > ul > li{
  //float:left;
  //margin-top: 15px;
  //width: 800px;
  width:100%;
}
.content .popular_events_list > ul > li:nth-child(n+2){
  margin-top: 15px;
}
/*
.content .popular_events_list > ul > li:nth-child(even){
  float:right;
  margin: 4px 10px 0 0;
  margin-right: 46px;
  width: 400px;
}
*/

.content .popular_events_list .products_title{
  border: 1px solid #dddde1;
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  height:100%;
}


.content .popular_events_list .products_title .text{
  float:left;
  margin-left: 10px;
  width:75%;
}

.content .popular_events_list .products_title .text h4 a{
  color: #fa2020;
}

.content .popular_events_list .products_title .text h5 a{
  color: #575757;
}
.content .popular_events_list .products_title .counts{
  position: relative;
  float: right;
  display:block;
  text-align: center;
  margin:3px 0 3px 5px;
  width: 20%;
  height: 58px;
  background-image: url("count_bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.content .popular_events_list .products_title .view_counts{
  display:block;
  margin: 8px 0 0 0;
}


.content .popular_events_list .products_title .view_text{
  margin-top: 2px;
  font-size: 5px;
  color: #636363;
}

.content .popular_events_list .products_title .view_counts{
  font-size: 15px;
  margin-bottom: 5px;
  color: #e36666;
}

.content .popular_events_list .events{
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #dddde1;
  display:block;
  background-color: #ffffff;
}

.content .popular_events_list .events li span{
  display:block;
  padding: 3px;
}

.content .popular_events_list .events li{
  border-bottom: 1px solid #dddde1;
  overflow: hidden;
}

.content .popular_events_list .events li img{
  float: left;
  width: 110px;
  height: 110px;
  border: 1px solid #999999;
  margin: 5px;
}

.content .popular_events_list .events li .info{
  margin-left:120px;
}

.content .popular_events_list .events li .info span.title{
  line-height:21px;
  font-weight:bold;
  whithe-space: nowrap;
  font-size: 18px;
}

.content .popular_events_list .events li:last-child{
  border-bottom: none;
}
.content .popular_events_list .events .goods_image{
}


@media screen and (max-width: 480px){
  .content .popular_events_list{
  }

  .content .popular_events_list .products_title{
    //width:320px;
    //width: 310px;
    width: 100%;
    height: auto;
  }

  .content .popular_events_list .events{
    //width:310px;
    width: 100%;
  }
  .content .popular_events_list > ul > li:nth-child(even){
    clear:both;
    float:left;
    width:100%;
  }

  .content .popular_events_list > ul > li:nth-child(odd){
    width:100%;
  }

  .content .popular_events_list .products_title .text{
    width: 70%;
  }
  .content .popular_events_list .products_title .counts{
    margin-top:2%;
    width:20%;
  }
  .content .popular_events_list .products_title .view_text{
    font-size: 10px;
  }
}
