.title_box {
  border: 1px solid #dddde1;
  height: 37px;
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  z-index: 2;
}

#contents{
  .column-container {
    overflow: hidden;
    margin-top:15px;
  }

  .no-top{
    margin-top:0px;
  }
}

div.column-container {
  .content .events_list {
    list-style: none;
    background: #ffffff;
    border: 1px solid #dddde1;
    .rank {
      position: relative;
      float: left;
      width: 32px;
      background-color: #f9f9f9;
      color: #fa2020;
      height: 100%;
      span {
        display: block;
        margin: 45px 0 0 11px;
      }
      img{
        display:block;
        width:21px;
        height:21px;
        margin-left:5px;
      }
    }
  }
}

.round-line {
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 1px 1px #d8d8d8;
  -webkit-border-radius: 5px;
}

div.column-container div.content{
  float:left;
  width:58%;
  margin-right:-350px;
}

div.column-container{
  #my-zzim{
    float:none;
    width:100%;
    margin-right:0;
  }
}

#view_load {
  background-color: #99d4f1;
  width: 100%;
  overflow: hidden;
  height: 50px;
}
.group_view_top {
  a {
    display: block;
    margin-left: 50%;
    margin-top: 15px;
  }
}
#view_load {
  a {
    color: #ffffff;
    margin-top: 15px;
  }
  .more_load {
    float: left;
    margin-left: 50%;
  }
  .top {
    float: right;
  }
}

div.column-container .content {
  ul {
    margin: 0;
  }
  .events_list li {
    border-bottom: 1px solid #dddde1;
    overflow: hidden;
    background-color: #f9f9f9;
    &:nth-child(1)! {}
    &:last-child {
      border-bottom: none;
    }
    img {
      width: 80px;
      height: 80px;
      display: block;
      float: left;
      border-bottom: none;
      border-top: none;
    }
    .title {
      display: block;
      color: #fa2020;
    }
    .product_info {
      margin: 0 0 0 100px;
      //float:left;
      //overflow: hidden;
    }
    .extra {
      .counts {
        float: right;
        border: 1px solid;
        height: 70%;
        margin-left: 10px;
        height: 100%;
        border: 1px solid #dddde1;
      }
      .extra_top {
        padding: 5px;
        background-color: #f9f9f9;
        height: 30%;
        display: block;
        text-align: center;
      }
      .extra_body {
        display: block;
        font-size: 18px;
        color: #fa2020;
        text-align: center;
        margin-top: 19%;
        padding: 3px;
      }
      .end_date {
        float: left;
        border: 1px solid;
        height: 100%;
        border: 1px solid #dddde1;
      }
    }
    .gift {
      display: inline-block;
      margin-top: 5px;
    }
    .extra {
      float: right;
      font-size: 11px;
      color: #7c7c7c;
      height: 80px;
    }
    .info {
      overflow: hidden;
      padding: 15px;
      background-color: #ffffff;
    }
    .product_info .publisher {
      font-size: 11px;
      margin-bottom: 5px;
      padding: 0;
      color: #7c7c7c;
    }
  }
}

@media screen and (max-width: 480px) {
  #contents .column-container {
    padding-right: 0px;
  }
  div.column-container div.content {
    margin-right: 0;
    width: 100%;
  }
  #contents .column-container {
  }
  div.column-container .content {
    .events_list {
      margin-right: 0;
      .rank span {
      }
      li {
        .product_info {
          float: none;
          margin-top: 0px;
          padding: 0 10px 10px 10px;
        }
        .extra {
          display: inline-block;
          margin-left: -80px;
          margin-top: 90px;
          float: left;
          .counts {
            margin-left: 2px;
          }
          height: 50px;
          .extra_body {
            margin-top: 2%;
            padding: 3px;
          }
        }
      }
    }
    .view_load, .group_view_top {
      width: 100%;
      .more_load {
        margin-left: 45%;
      }
    }
  }
}

.btn_area {
  margin-top: 10%;
}

div.column-container .content .zzim_list {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.column-container .content .paginate {
  overflow: hidden;
  display: block;
  width: 50%;
  margin: 0 auto;
  .pagination {
    float: none;
  }
}

@media screen and (max-width: 480px) {
  div.column-container .content .zzim_list, .column-container .content .paginate {
    width: 100%;
  }
}

#contents {
  #products .table-striped {
    //border-top :none;

  }
  .table thead th {
    text-align: center;
  }
}

.btn-group .dropdown-menu li:not(:first-child) {
  border-top: 2px solid;
}

#contents .pagination {
  text-align: center;
  ul {
    display: inline-block;
    zoom: 1;
          *display: inline;
          li {
            float: left;
          }
        }
      }

@media screen and (max-width: 480px) {
  #contents .pagination {
    margin: 20px 5px;
  }
}
