#contents .btn-group .active{
  background-color: #454d5f;
  color: #ffffff;
}

#contents .btn-group .btn{
}

.event-selector .btn{
  width: 33.20%;
  padding: 13px 0 13px 0;
}

.event-selector{
  width:100%
}

.btn-group > .btn:first-child{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group > .btn:last-child{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (max-width: 480px){
  .event-selector{
    width:97%;
    margin-left:2px;
  }
}
