.show_products{
  a{text-decoration: none}
}
.show_products #contents{
  overflow: hidden;
  //box-shadow: 0 0 10px #e1e1e1;
  //-webkit-box-shadow: 0 0 5px #888;
  margin: 0 auto;
  background-color: #fafafa;
  margin-top: 50px;
}

body.show_products #contents div.image{
  float: left;
  width: 40%;
  height:558px;
  //padding: 20px;
}

body.show_products #contents div.image img{
  width: 100%;
  height: 100%;
}

body.show_products #contents div.image #map{
  width: 100%;
  height:100%;
}

body.show_products #contents div.info_block{
  width:56.55%;
  float:right;
  height: 100%;
}

body.show_products #contents div.info{
  text-align:left;
  height: 100%;
}

body.show_products #contents div.info .publisher{
  color: #fff;
  font-size: 15px;
  background: #fa7070;
  padding: 10px 8px 8px 15px;
  font-weight: bold;
}

body.show_products #contents div.info h3{
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  text-shadow: #fff 0 2px 0;
  color: #393939;
}

body.show_products #contents div.info .detail{
  //padding: 15px 15px 5px 15px;
}

body.show_products #contents div.info .detail ul{
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  font-size: 20px;
}


body.show_products #contents div.info .detail ul li{
  line-height: 30px;
  border-bottom: 1px solid #dddde1;
  padding: 15px;
}

body.show_products #contents div.info .detail ul li .category{
  float:left;
  color: #676767;
}

body.show_products #contents div.info .detail ul li .sub_detail{
  margin-left: 100px;
  color: #878787;
}

body.show_products #contents div.info .counts{
  border-bottom:1px solid #dddde1;
  overflow:hidden;
  height: 42px;
  margin: 0;
  padding: 0 13px;
  font-size: 22px;
  line-height: 42px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #777;
  text-align: center;
}

body.show_products #contents div.info .counts .zzim_count{
  width:50%;
  border-right: 1px solid #dddde1;
}

body.show_products #contents div.info .counts .views_count{
  float:left;
  width:49%;
  letter-spacing: -1px;
}

body.show_products #contents div.info .counts .views_count .txt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-left: 5px;
  margin-right: 5px;
  color: #999;
}

.btn_area{
  //position: absolute;
  //bottom: 30px;
  //right: 120px;
  margin-top: 10%;
}


body.show_products #contents .info_block .outlink{
  background-color: #2fb6bc;
  background-image: none;
  color: #ffffff;
  margin-right: 25px;
  width:200px;
  margin-left: 10%;
}

body.show_products #contents .info_block .zzim{
  background-color: #ff444f;
  background-image: none;
  color: #ffffff;
  margin-right: -13px;
  width: 200px;
}

body.show_products #contents .info_block .not-zzim{
  background-color: #3366FF;
  background-image: none;
  color: #ffffff;
  margin-right: -13px;
  width: 200px;
}

@media screen and (max-width: 1170px){

  body.show_products #contents div.image{
    float:none;
    width:100%;
    height:400px;
  }

  body.show_products #contents div.info_block{
    width:100%;
    float:none;
  }

  body.show_products #contents .info_block .outlink{
    display: block;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
  }
  
  body.show_products #contents .info_block .zzim{
    display: block;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
  }

  body.show_products #contents .info_block .not-zzim{
    display: block;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
  }
}
