#contents {
  .visual {
    position: relative;
    width: auto;
    height: auto;
    margin:10px 0 30px 0;
    border: 1px solid #dfdfdf;
    background: #99d4f1;
    overflow:hidden;
    display:block;
    .visual-msg{
      width:100%;
      margin:5px;
      overflow:hidden;
      img.free{
        display:block;
        float:left;
        margin:3%;
      }
      h1{
        display:inline-block;
        margin-top:45px;
        line-height:55px;
        font-size:31.5px;
        font-weight:bold;
        color:#ffffff;
        span{
          color:#cd99f1;
        }
      }
      img.gift_box{
        float:right;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #contents .visual {
    .visual_image{
      float:left;
    }
    .visual-msg{
      width:100%;
      margin:5% 5% 5% 0;
      img{
        float:left;
      }
      h1{
        line-height:55px;
        font-size:20.5px;
        color:#ffffff;
        span{
          color:#cd99f1;
        }
      }
    }
  }
}
