<div class="aside">
  <h4>실시간랭킹</h4>
  <ul class="events">
    <%@rankProducts[0..50].each_with_index do |product,index| %>
    <li>
      <span class="rank"><%=index+1%></span>
      <%= link_to(product) do %>
        <span class="title"><%=product.title%></span>
      <% end %>
    </li>
    <%end%>
  </ul>
</div>
