<div class="column-container">
  <div class="content">
    <%= render partial: "popular_events_list" %>
    <div class="view_load">
      <a href="#" class="more_load">더 보기</a>
      <a href="#"class="top">맨 위로</a>
    </div>
  </div>
  <%= render partial: "aside" %>
</div>
