<div id="adsense">
  <h1>애드센스 광고를 준비중입니다.</h1>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 이벤트스토어 -->
<ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-4271525839788575"
       data-ad-slot="2268780640"></ins>
     <script>
(adsbygoogle = window.adsbygoogle || []).push({});
     </script>
</div>
