<section id="banner"> 
  <div id="container">
    <%=link_to "http://easytwitter.co.kr", :target => "_blank" do %>
      <h3>
        <span class="made">이벤트스토어에서 만든 </span><span class="desc">'오늘의 핫트윗을 로그인 없이 볼 수 있는 이지트위터'</span> 
        <%=image_tag 'easytwitter-logo.png', :class => "logo"%>
      </h3>
    <%end%>
  </div>
</section>
