<section id="banner"> 
  <div id="container">
    <%=link_to "#none" do %>
      <h3>
        <span class="made">여러분의 광고 클릭한번이 </span><span class="desc">이벤트스토어</span><span class="made"> 운영에 많은 도움이 됩니다. 복 받으세요!!</span> 
        <%image_tag 'easytwitter-logo.png', :class => "logo"%>
      </h3>
    <%end%>
  </div>
</section>
