<div id="category">
  <h4>카테고리</h4>
  <div class="category-inner">
    <ul>
      <%@categories.each do |category|%>
        <li>
          <%= link_to (category) do%>
            <span>
              <%=category.title%>
            </span>
          <%end%>
        </li>
      <%end%>
    </ul>
  </div>
</div>
