<div id ="left-side">
  <div id="left-ad">
    <SCRIPT type='text/javascript' src='http://rsense-ad.realclick.co.kr/rsense/rsense_ad.js?rid=491652363207&stamp=1390289087&v_method=YmFubmVyfDEyMHg2MDA' charset='euc-kr'></SCRIPT>
  </div>
</div>
