<div id = "right-side">
  <div id="left-ad">
   <SCRIPT type='text/javascript' src='http://rsense-ad.realclick.co.kr/rsense/rsense_ad.js?rid=491652363208&stamp=1390289794&v_method=YmFubmVyfDI0MHgyNDA' charset='euc-kr'></SCRIPT>
  </div>
</div>
