<div class="visual">
  <div class="visual_image">
    <% if mobile_device? %>
      <%=image_tag "banner_mobile_bg.jpg" %> 
    <%else%>
      <%=image_tag "visual.png" %> 
    <%end%>
  </div>
</div>
<%render partial: "layouts/adsense" %>

